---
---

@import url('https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css');

$base-font-family: "Latin Modern Roman", "Computer Modern Serif", Georgia, serif;
$base-font-size: 18px;
$code-font-family: "Latin Modern Mono", "Courier New", monospace;

@import "minima";
