---
---

@font-face {
    font-family: 'Latin Modern Mono';
    src: url('/static/fonts/lmmono10-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Latin Modern Mono';
    src: url('/static/fonts/lmmono10-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@media print {
    @font-face {
        font-family: 'Latin Modern Mono';
        src: url('/static/fonts/lmmono10-regular.otf') format('opentype'),
             url('/static/fonts/lmmono10-regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Latin Modern Mono';
        src: url('/static/fonts/lmmono10-italic.otf') format('opentype'),
             url('/static/fonts/lmmono10-italic.ttf') format('truetype');
        font-weight: normal;
        font-style: italic;
    }
}

$base-font-family: "Latin Modern Mono", "Courier New", monospace;
$base-font-size: 16px;
$code-font-family: "Latin Modern Mono", "Courier New", monospace;

@import "minima";
