---
---

@import url('https://lalten.github.io/lmweb/style/latinmodern-mono.css');

$base-font-family: "Latin Modern Mono", "Courier New", monospace;
$base-font-size: 16px;
$code-font-family: "Latin Modern Mono", "Courier New", monospace;

@import "minima";
